<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .highlight{
        background-color:#FFFF00;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h3>Video Speech to Text</h3>
    <br>
    <form class="" action="" method="POST" enctype="multipart/form-data">
      <label for="project">Project Name: </label>
      <input type="text" id="project" name="project">
      <br>
      <label for="video">Select File: </label>
      <input type="file" id="video" name="video">
      <br>
      <span>Or type media URL:</span>
      <input type="text" name="url" value="">
      <br><br>
      <input type="submit">
    </form>
    <hr>


      {% for excerpt in excerpts %}
        <div class="row">
          <div class="col-lg-4">
            <video width="100%" controls>
              <source src="{{videoURL}}#t={{excerpt['time'][0]}},{{excerpt['time'][1]}}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
          </div>
          <div class="col-lg-8">
            <p><strong>Time Interval: </strong>[{{excerpt['interval']}}]</p>
            <p>
              <strong>Transcription: </strong>{{ excerpt['text']|safe }}
            </p>
            <p>
              <strong>Confidence: </strong>{{excerpt['confidence']}}
            </p>
            <p>
              <strong>URL: </strong>{{excerpt['URL']}}
            </p>
          </div>

        </div>
        <hr>
      {% endfor %}
      </div>
  </body>
</html>
